// LINKS

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.main__info {
  &-links {
    display: inline-block;
    height: 120px;
    width: 300px;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0 !important;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 4px;
    }

    &:hover h1 {
      top: 30%;
    }

    &:hover h3 {
      top: 60%;
    }
  }

  &-hours {
    display: block;
    height: 120px;
    background-color: #fc5358;
    position: relative;
    text-align: center;
    overflow: hidden;

    h4 {
      margin-top: 80px;
      color: white;
    }
  }

  h1 {
    @extend .h1;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: 0.5s;
  }

  h3 {
    position: absolute;
    color: white;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    top: 120%;
    left: 50%;
    width: 99%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
}

// CAROUSEL

.carousel {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0;
  width: 100%;

  .col-md-8 {
    padding-left: 0;
    padding-right: 0;
  }

  blockquote {
    border-left: none;
    margin: 0;
    padding: 0;

    .quotes-image {
      background-image: url('/images/assets/pizza-3.jpg');
      width: 200px;
      height: 200px;
      background-size: cover;
      float: left;
      margin: 0 20px 20px 0;
      border-radius: 4px;
    }

    .quotes-title {
      color: #333333;
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .quotes-content {
      color: #333333;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;
    }

    .quotes-author {
      color: #333333;
      font-family: Lato;
      font-size: 14px;
      font-style: italic;
      line-height: 23px;
    }
  }

  .carousel-indicators {
    bottom: -30px;
  }

  .carousel-indicators > li {
    background-color: #cdcdcd;
    margin-left: 12px;
    border: none;
  }
}

// GALLERY

.main__gallery {
  .row {
    @include flex(row, center, space-between);
    flex-wrap: wrap;

    a {
      margin-top: 20px;
    }
  }

  .gallery-img {
    flex: 33% 0 0;
    height: 190px;
    width: 190px;
    padding: 4px;
    position: relative;

    &:hover {
      .gallery-icon {
        display: inherit;
      }

      img {
        filter: brightness(50%);
      }
    }

    img {
      overflow: hidden;
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 4px;
    }
  }

  .gallery-icon {
    position: absolute;
    display: none;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: 0.5s;
    font-size: 26px;
  }

  i {
    margin: 0 4px;

    &:hover {
      color: red;
    }
  }
}

.footer {
  margin-top: 31px;

  a {
    margin-left: 28px;
    color: #ff6b6b;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
  }
}
